body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.cardcontainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:40px;
    margin:20px auto;
}
.card{
 display: flex;
 flex-direction: column;
    width:250px;
   min-height: 370px;
    /* border:1px solid black; */
    /* text-align: center; */
    /* font-size: 15px; */
}
.cardimg{
    width:200px;
    height:130px;
    margin:10px auto;
    display: flex;
    justify-content: center;
}
.cardcontent{
    font-size: 12px;
    padding:10px;
}
.cardcontent h1{
    text-align: center;
}
.cardcontent span{
    font-weight: bold;
}
.center{
    display:grid;
   place-items: center;
}
.Movies_conatiner{
    display:flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}
.card1{
    width:300px;
    height: 300px;
   display: flex;
   flex-direction: column;
   gap:20px;
   padding: 20px;
   font-size: 10px;
   /* border: 1px solid black; */
}
.card1img{
    width:150px;
    height:150px;
  display: block;
  margin:10px auto;
}
.card1_content h1{
    text-align: center;
}